@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 50%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 2px #000;
  border-radius: 25px;
}
.icon-scroll:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #000;
  margin-left: -4px;
  top: 8px;
  border-radius: 10px;
  animation-name: scroll;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

.cursor {
  position: fixed;
  width: 4px;
  height: 4px;
  background-color: black;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: 999;
  pointer-events: none;
  transition: all 200ms ease;
  transition-property: opacity, background-color, transform;
}

.c--hidden {
  opacity: 0;
}

.c--click {
  transform: translate(-50%, -50%) scale(2.5);
  background-color: #121212;
}

.c--hover {
  transform: translate(-50%, -50%) scale(3.25);
  background-color: #60606072;
  cursor: none;
}

.cursor-ring {
  position: fixed;
  width: 22px;
  height: 22px;
  border: 2px solid rgba(31, 30, 30, 0.808);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  -webkit-transition-duration: 20ms;
  transition-duration: 20ms;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  will-change: width, height, transform, border;
  z-index: 999;
  pointer-events: none;
}

.c-ring--click {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(31, 30, 30, 0.623);
}

.c-ring--hover {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 30, 30, 0.623);
}
